@use './variables' as v;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; //los elementos no podrán crecer mas de lo que le indiquemos aunque tengan contenidoq ue ocupe espacio dentro
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: v.$color3;
    height: 100vh;
    display: grid;
    place-items: center;
}